.mobileNav {
  margin-top: 2rem;
  width: 100%;
  grid-column: 1/-1;
  display: none;

  &Item {
    text-decoration: underline;
    font-size: 1.125rem;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .mobileNav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .mobileNav {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }
}
