@import "../variables.scss";

.attribute {
  display: flex;
  flex-direction: column;
  gap: 0;
  &Category {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondaryTextColor);
  }
  &Label {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media (min-width: 2500px) {
  .attribute {
    &Category {
      font-size: 3rem;
    }
    &Label {
      font-size: 2.5rem;
    }
  }
}
@media (max-width: 1024px) and (orientation: portrait) {
  .attribute {
    &Category {
      display: none;
    }
    &Label {
      color: var(--secondaryTextColor);
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
