@import "./styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
}

.noto-sans {
  font-family: "Noto Sans", serif;
}

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: white;
  color: $blackColor;
  font-family: "Nunito Sans", sans-serif;
  transition: background-color 0.2s linear;
}
[data-theme="dark"] body {
  background: $blackColor;
  color: $lightColor;
}
a {
  color: inherit;
  text-decoration: none;
}
.loadingScreen {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}
.wrapper {
  position: relative;
  padding: 3.375rem;
  height: 100%;
}
.container {
  height: inherit;
}

.pageBody {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  height: 100%;
  &Main {
    flex-grow: 1;
  }
}
.headerPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;
}

// laptop
@media (min-width: 1024px) and (min-height: 768px) {
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0rem 1.5rem;
    max-width: 100vw;
    max-height: 100dvh;
    overflow: hidden;
  }
  .pageBody {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 2rem;
    &Main {
      max-height: min-content;
    }
  }
}

@media (max-width: 600px) {
  .pageBody {
    gap: 1rem;
  }
}
