@import "../variables.scss";
.previewCard {
  position: relative;
  direction: ltr;
  padding: 1.5rem;

  width: 100%;
  max-width: 29rem;
  background: var(--bgColor);
  border: 2px solid var(--borderColor);
  border-radius: $borderRadius;
  cursor: pointer;
  transition: 0.5s;
  &Active {
    opacity: 0.61;
    cursor: default;
    &:hover {
      transform: scale(1);
    }
  }
  &Arrow {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
  &Title {
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 2rem;
  }
  &Date {
    margin-top: 2px;
    font-size: 0.875rem;
    font-weight: 200;
  }
  &Description {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
  }
  &Pet {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-style: italic;
    text-decoration: underline;
    font-weight: 300;
  }
}
@media (max-width: 1024px) and (orientation: portrait) {
  .previewCard {
    padding: 1rem;
    &Title {
      font-size: 1rem;
    }
    &Date {
      margin-top: 1px;
      font-size: 0.75rem;
      font-weight: 200;
    }
    &Description {
      margin-top: 0.5rem;
      font-size: 0.75rem;
      font-weight: 300;
    }
  }
}
